@import '../../../variables.scss';

.sizes {
  min-width: 50px;
  text-align: center;
  border: 2px solid $color-grey-400;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;

  input[type='radio'] {
    display: none;
  }

  label {
    padding: 0.5rem 1rem;
    display: block;
  }

  &.selected {
    background-color: $color-grey-400;
    color: $color-grey-100;
  }
}
