@import '../../variables.scss';

.checkout-page {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 1rem;
  padding: 2rem 40px;
  max-width: 1200px;
  margin: 0 auto;
  > .title {
    margin: 0;
    text-align: center;
    grid-column: span 2;
    padding: 1rem 2rem;
  }
  > .summary,
  > .products,
  > .forms {
    > .title {
      padding: 1rem;
      margin: 0;
      border-bottom: 1px solid $color-text-base;
    }
  }
  > .summary {
    .list-summary {
      padding: 1rem;
      margin: 0;
      list-style: none;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      .item-summary {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  > .products {
    grid-column: 2;
    .list-products {
      list-style: none;
      padding: 0 1rem;

      .product {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        border-top: 1px solid $color-text-base;
        padding: 1rem 0;

        &:first-child {
          padding-top: 0;
          border-top: none;
        }
        .img {
          max-width: 25%;
          height: 100%;
        }
        .info {
          width: 55%;
          .name,
          .color,
          .size,
          .qty {
            margin: 0;
            padding: 0;
          }
        }
        .remove {
          width: 5%;
          .icon {
            width: 100%;
          }
        }
      }
    }
  }
  > .forms {
    grid-row: span 2;
    > .title {
      margin-bottom: 1rem;
    }
    .fieldset {
      padding: 0;
      outline: none;
      border: none;
      gap: 1rem;
      display: flex;
      .field {
        display: flex;
        width: 100%;
        gap: 0.5rem;
        flex-direction: column;
      }
    }
  }
}
