@import './variables.scss';
@import './styles/fonts.scss';
@import './styles/theme.scss';

html {
  font-size: 87%;
  body {
    font-size: 1rem;
    font-family: $font-family;
    padding: 0;
    margin: 0;
    line-height: 125%;
    background-color: getColor('light', 'background');
    color: getColor('light', 'text');

    .dark {
      background-color: getColor('dark', 'background');
      color: getColor('dark', 'text');
    }
  }
}
