@import './style/lib';

// Color Palette
$color-text-base: $color-grey-100;
$color-text-primary: $color-blue-500;
$color-text-secondary: $color-grey-950;
$color-text-tertiary: $color-green-400;
$color-text-white: $color-grey-100;

// Background Colors
$color-background-base: $color-grey-950;
$color-background-primary: $color-blue-500;
$color-background-secondary: $color-green-500;
$color-backgrount-tertiary: $color-grey-100;

// Font Sizes
$font-size-base: $font-size-ratio-base + $font-size-unit; // 1rem
$font-size-xl: 1.5 * $font-size-ratio-base + $font-size-unit; // 2.1rem
$font-size-l: 1.25 * $font-size-ratio-base + $font-size-unit; // 1.8rem
$font-size-s: 0.85 * $font-size-ratio-base + $font-size-unit; // 1.2rem
$font-size-xs: 0.75 * $font-size-ratio-base + $font-size-unit; // 1.1rem
